* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
header {
  background-color: #c4c4c4;
  top: 0;
  font-size: large;
  display: block;
}
ul,
li {
  list-style: none;
  display: flex;
  padding-top: 0.5em;
  float: right;
  margin-inline: 1em;
  font-weight: 900;
  font-family: Rubik;
  font-size: larger;
}
body {
  display: grid;
  grid-template-rows: 10% 90%;
  background-color: #898081;
}
main {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #898081;
}
img {
  height: 550px;
  padding: 100px;
  padding-left: 250px;
}
#descr {
  padding: 100px;
  padding-top: 200px;
  font-size: larger;
  line-height: 1.6em;
}
#hi {
  padding-top: 100px;
}
.pink {
  color: #fcd4d4;
}
.pi {
  background-color: #fcd4d4;
  border: solid;
  border-width: 1px;
  border-radius: 7%;
  border-color: #fcd4d4;
  height: 50px;
  width: 100px;
}
.op {
  background-color: #898081;
  border: solid;
  border-width: 1px;
  border-radius: 7%;
  border-color: #fcd4d4;
  height: 50px;
  width: 100px;
}
.white {
  color: white;
}
#buttons {
  width: 100px;
  display: inline;
  height: 200px;
}
@media screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: ;
    background-color: #898081;
}

/*about me page*/

.details {
  padding: 100px;
  padding-top: 10px;
  font-size: 10px;
  font-size: larger;
  line-height: 1.5em;
}
.title {
  padding: 100px;
  padding-top: 200px;
  color: #fcd4d4;
  font-size: 30px;
}
